
<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
    <ul class="nav sidebar-nav">
      <div class="sidebar-header">
      <div class="sidebar-brand">

          <a routerLink="home" [routerLinkActive]="'is-active'" class="nav-link">Welcome {{Name}}</a></div></div>
      <li> <a routerLink="home-about" [routerLinkActive]="'is-active'">Home</a></li>
    
      <li> <a routerLink="result" [routerLinkActive]="'is-active'" class="nav-link">Result</a></li>
      <li> <a routerLink="preference" [routerLinkActive]="'is-active'" class="nav-link">Preference</a></li>
    </ul>
	</div>
</nav>
