.dob-label {
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2px;
    
}
.stackem div {
    width: 100%;
}
.dob-space {
    margin: 0px;
}