
<!-- <div class="home">
  <img src="assets/images/homepage1.png"/>
  <img src="assets/images/javascriptA_s.png">
    <img src="assets/images/csharp_s.png">
     <img src="assets/images/angularJavascript_s.png">
               Testing Your Angular Knowledge is essential   
</div>  -->
<div>					
  <div class="home_title">TestYourKnowledge</div>
  <div class="home_subtitle">Software Development, Software Testing, Business Analysis, Database Administration &amp; many more</div>
</div>
<div class="top">
  <div class="searchregion">
    <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>
<div class="group mid">
  <div hmhighlight class="box">
     <a> 
      <img src="assets/images/javascriptA_s.png">
     </a>  
  </div>
  <div hmhighlight class="box">
     <div>
      <img src="assets/images/csharp_s.png">
     </div>
  </div>
  <div hmhighlight class="box">
     <div>
          <img src="assets/images/angularJavascript_s.png"> 
     </div>
  </div>
  <div hmhighlight class="box">
    <a> 
     <img src="assets/images/softawretesting.png">
    </a>  
 </div>
 <div hmhighlight class="box">
    <div>
     <img src="assets/images/itinfrastruture.png">
    </div>
 </div>
 <div hmhighlight class="box">
    <div>
         <img src="assets/images/database.png"> 
    </div>
 </div>
 <div hmhighlight class="box">
  <div>
   <img src="assets/images/businessAnalysis.png">
  </div>
</div>
<div hmhighlight class="box">
  <div>
       <img src="assets/images/autoamtiontesting.png"> 
  </div>
</div>
<div hmhighlight class="box">
  <div>
   <img src="assets/images/htmlcss.png">
  </div>
</div>
<div hmhighlight class="box">
  <div>
       <img src="assets/images/react.png"> 
  </div>
</div>
<div hmhighlight class="box">
<div>
 <img src="assets/images/sqlserver.png">
</div>
</div>
<div hmhighlight class="box">
<div>
     <img src="assets/images/nodejs.png"> 
</div>
</div>
</div>
